<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <appSettings>
    <add key="apiKey" value="00c050ec0043ba942feaec6da2160509"/>
    <add key="shardSecret" value="dfc03b4edabe5623"/>
    <add key="fileName" value="C:\Temp\Keyword.txt"/>
    <add key="LogErrorFileName" value="C:\Temp\ErrorFile\"/>
    <add key="defaultKey" value="flower"/>
  </appSettings>
</configuration>
